<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>RecipesList</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="/favicon.svg">
  <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="d-flex flex-column h-100 text-white">
<header class="fw-bold fs-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Eleventh navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipes List</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
          <a class="nav-link" href="/login">Вход</a>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" sec:authorize="isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipe">Рецепты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/profile">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/h2-console/" target="_blank" sec:authorize="hasRole('ROLE_ADMIN')">Консоль H2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Выход</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container rounded my-5 p-4 content">
  <div class="content_header rounded-top p-2 mb-2">
    <h1 class="fs-1 fw-bold ms-5">
      <div layout:fragment="content_header">
      </div>
    </h1>
  </div>
  <div layout:fragment="content">
  </div>
</div>
</body>
<th:block layout:fragment="scripts">
</th:block>
</html>