<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>RecipesList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/favicon.svg">
    <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div layout:fragment="content_header">Вход</div>
<div layout:fragment="content">
    <div th:if="${param.error}" class="alert alert-danger margin-bottom">
        Пользователь не найден или пароль указан не верно
    </div>
    <div th:if="${param.logout}" class="alert alert-success margin-bottom">
        Выход успешно произведен
    </div>
    <div th:if="${param.created}" class="alert alert-success margin-bottom">
        Пользователь '<span th:text="${param.created}"></span>' успешно создан
    </div>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <input type="text" name="username" id="username" class="form-control"
                   placeholder="Логин" required="true" autofocus="true"/>
        </div>
        <div class="mb-3">
            <input type="password" name="password" id="password" class="form-control"
                   placeholder="Пароль" required="true"/>
        </div>
        <button type="submit" class="btn btn-success button-fixed">Войти</button>
        <a class="btn btn-primary button-fixed" href="/signup">Регистрация</a>
    </form>
</div>
</body>
</html>